.product-code,
.product-name {
  font-size: 15px;
}

.product .add-to-cart {
  bottom: 35px;
}
::ng-deep .mat-tab-body {
  height: 550px;
}

::ng-deep .mat-tab-body-content {
  display: flex;
  margin-top: 20px;
}

.product-links li:hover{
  color: rgb(52, 134, 206);
  cursor: pointer;
}

::ng-deep .mat-tab-body.mat-tab-body-active{
  overflow-y: hidden !important;
}