<div id="breadcrumb">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ejs-breadcrumb [enableNavigation]="true">
          <e-breadcrumb-items>
            <e-breadcrumb-item
              iconCss="e-icons e-home"
              url="./homepage"
            ></e-breadcrumb-item>
            <e-breadcrumb-item
              text="Homepage"
              url="./homepage"
            ></e-breadcrumb-item>
            <e-breadcrumb-item text="Cart" url="./cart"></e-breadcrumb-item>
            <e-breadcrumb-item
              text="Checkout"
              url="./breadcrumb/default"
            ></e-breadcrumb-item>
          </e-breadcrumb-items>
        </ejs-breadcrumb>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>

<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-7">
        <!-- Billing Details -->
        <div class="billing-details">
          <div class="section-title">
            <h3 class="title">THÔNG TIN VẬN CHUYỂN</h3>
          </div>
          <form [formGroup]="formGroup">
            <div class="form-group">
              <input
                class="input"
                type="text"
                name="full-name"
                placeholder="Full Name"
                formControlName="fullName"
              />
            </div>
            <div class="form-group">
              <input
                class="input"
                type="email"
                name="email"
                placeholder="Email"
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <input
                class="input"
                type="text"
                name="address"
                placeholder="Address"
                formControlName="address"
              />
            </div>
            <!-- <div class="form-group">
              <input class="input" type="text" name="city" placeholder="City" />
            </div> -->

            <div class="form-group">
              <input
                class="input"
                type="tel"
                name="tel"
                placeholder="Số điện thoại"
                formControlName="phone"
              />
            </div>
          </form>
        </div>
        <!-- /Billing Details -->
        <div class="payment-method" style="margin-bottom: 20px">
          <div style="margin-bottom: 20px">
            <strong>PHƯƠNG THỨC GIAO HÀNG</strong>
          </div>
          <div fxLayout="row">
            <div class="input-radio">
              <input
                type="radio"
                name="delivery"
                id="delivery-2"
                (click)="setShippingFee(20000)"
                checked
              />
              <label for="delivery-2">
                <span></span>
                Thường (20k)
              </label>
              <div class="caption">
                <p>Giao hàng trong vòng 3 đến 4 ngày kể từ ngày xác nhận</p>
              </div>
            </div>
            <div class="input-radio">
              <input
                type="radio"
                name="delivery"
                id="delivery-1"
                (click)="setShippingFee(50000)"
              />
              <label for="delivery-1">
                <span></span>
                Hoả tốc (50k)
              </label>
              <div class="caption">
                <p>Giao hàng trong vòng 1 đến 2 ngày kể từ ngày xác nhận</p>
              </div>
            </div>
          </div>
        </div>

        <div class="payment-method">
          <div style="margin-bottom: 20px">
            <strong>PHƯƠNG THỨC THANH TOÁN</strong>
          </div>

          <div class="input-radio">
            <input type="radio" name="payment" id="payment-1" />
            <label for="payment-1">
              <span></span>
              Trả bằng thẻ ngân hàng
            </label>
            <div class="caption">
              <div class="form-group">
                <input
                  class="input"
                  type="text"
                  name="Card number"
                  placeholder="Số thẻ"
                />
              </div>
            </div>
          </div>
          <div class="input-radio">
            <input type="radio" name="payment" id="payment-2" [disabled]="getTotalValues > 1000000"/>
            <label for="payment-2">
              <span></span>
              Trả tiền khi nhận hàng
            </label>
            <!-- <div class="caption">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div> -->
          </div>
        </div>

        <!-- Order notes -->
        <!-- <div class="order-notes">
          <textarea class="input" placeholder="Order Notes"></textarea>
        </div> -->
        <!-- /Order notes -->
      </div>

      <!-- Order Details -->
      <div class="col-md-5 order-details">
        <div class="section-title text-center">
          <h3 class="title">THÔNG TIN ĐƠN HÀNG</h3>
        </div>
        <div class="order-summary">
          <div class="order-col">
            <div><strong>SẢN PHẨM</strong></div>
            <div><strong>TỔNG</strong></div>
          </div>
          <div class="order-products">
            <div class="order-col" *ngFor="let item of cartData">
              <div>
                <strong style="color: #d10024">{{ item.quantity }}x</strong>
                {{ item.product.name }}
              </div>
              <div>{{ item.product.actualPrice }}</div>
            </div>
          </div>
          <div class="order-col">
            <div>Shiping</div>
            <div>
              <strong>{{ shippingFee }}</strong>
            </div>
          </div>
          <div class="order-col">
            <div><strong>TOTAL</strong></div>
            <div>
              <strong class="order-total">{{
                getTotalValues + shippingFee
              }}</strong>
            </div>
          </div>
        </div>

        <div class="input-checkbox">
          <input type="checkbox" id="terms" />
          <label for="terms">
            <span></span>
            I've read and accept the <a href="#">terms &amp; conditions</a>
          </label>
        </div>
        <a href="#" class="primary-btn order-submit">Đặt hàng</a>
      </div>
      <!-- /Order Details -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
