<div id="breadcrumb">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ejs-breadcrumb [enableNavigation]="true">
          <e-breadcrumb-items>
            <e-breadcrumb-item
              iconCss="e-icons e-home"
              url="./homepage"
            ></e-breadcrumb-item>
            <e-breadcrumb-item
              text="Homepage"
              url="./homepage"
            ></e-breadcrumb-item>
            <e-breadcrumb-item text="Cart" url="./cart"></e-breadcrumb-item>
            <e-breadcrumb-item
              text="Checkout"
              url="./breadcrumb/default"
            ></e-breadcrumb-item>
          </e-breadcrumb-items>
        </ejs-breadcrumb>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>

<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-7">
        <!-- Billing Details -->
        <div class="billing-details">
          <div class="section-title">
            <h3 class="title">THÔNG TIN VẬN CHUYỂN</h3>
          </div>
          <form [formGroup]="formGroup">
            <div class="form-group">
              <input
                class="input"
                type="text"
                name="full-name"
                placeholder="Full Name"
                formControlName="fullName"
              />
            </div>
            <div class="form-group">
              <input
                class="input"
                type="email"
                name="email"
                placeholder="Email"
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <input
                class="input"
                type="tel"
                name="tel"
                placeholder="Số điện thoại"
                formControlName="phone"
              />
            </div>

            <div style="margin-bottom: 20px">
              <strong>ĐỊA CHỈ NHẬN HÀNG</strong>
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="center">
              <div fxLayout="row wrap" style="width: 95%" fxLayoutGap="50px">
                <div class="address add-new-address" fxLayout="row" fxLayoutAlign="center center" (click)="openDialog()">
                  <div type="body" color="textSecondary" class="css-t00t6x" fxLayout="column" fxLayoutAlign="center center">
                    <span size="26" class="css-1fmhjdx"></span>
                    <div class="spacer css-1x3u27e"></div>
                    Thêm địa chỉ mới
                  </div>
                </div>
                <div
                  class="address"
                  [class.active]="selectedIndex === defaultAddress?.id"
                  (click)="setIndex(defaultAddress?.id!)"
                  *ngIf="defaultAddress != null"
                >
                  <div type="body" color="textSecondary" class="css-t00t6x">
                    Địa chỉ: {{ defaultAddress?.specificAddress }}, Phường/huyện
                    {{ defaultAddress?.subDistrict }}, Quận
                    {{ defaultAddress?.district }}, Thành phố
                    {{ defaultAddress?.city }}
                  </div>
                </div>
                <div
                  *ngFor="let address of addressData"
                  class="address"
                  [class.active]="selectedIndex === address.id"
                  (click)="setIndex(address.id)"
                >
                  <div type="body" color="textSecondary" class="css-t00t6x">
                    Địa chỉ: {{ address?.specificAddress }}, Phường/huyện
                    {{ address?.subDistrict }}, Quận {{ address?.district }},
                    Thành phố
                    {{ address?.city }}
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- /Billing Details -->
        <div class="payment-method" style="margin-bottom: 20px">
          <div style="margin-bottom: 20px">
            <strong>PHƯƠNG THỨC GIAO HÀNG</strong>
          </div>
          <div fxLayout="row">
            <div class="input-radio">
              <input
                type="radio"
                name="delivery"
                id="delivery-2"
                (click)="setShippingFee(20000, 2)"
                checked
              />
              <label for="delivery-2">
                <span></span>
                Thường (20,000đ)
              </label>
              <div class="caption">
                <p>Giao hàng trong vòng 3 đến 4 ngày kể từ ngày xác nhận</p>
              </div>
            </div>
            <div class="input-radio">
              <input
                type="radio"
                name="delivery"
                id="delivery-1"
                (click)="setShippingFee(50000, 1)"
              />
              <label for="delivery-1">
                <span></span>
                Hoả tốc (50,000đ)
              </label>
              <div class="caption">
                <p>Giao hàng trong vòng 1 đến 2 ngày kể từ ngày xác nhận</p>
              </div>
            </div>
          </div>
        </div>

        <div class="payment-method">
          <div style="margin-bottom: 20px">
            <strong>PHƯƠNG THỨC THANH TOÁN</strong>
          </div>

          <div class="input-radio">
            <input
              type="radio"
              name="payment"
              id="payment-1"
              value="ONLINE_PAYING"
              (change)="setPayingMethod($event)"
            />
            <label for="payment-1">
              <span></span>
              Trả bằng thẻ ngân hàng
            </label>
            <div class="caption">
              <div class="form-group">
                <input
                  class="input"
                  type="text"
                  name="Card number"
                  placeholder="Số thẻ"
                  [(ngModel)]="cardNumber"
                />
              </div>
            </div>
          </div>
          <div class="input-radio">
            <input
              type="radio"
              name="payment"
              id="payment-2"
              value="DELIVERY_PAYING"
              [disabled]="getTotalValues > 1000000"
              (change)="setPayingMethod($event)"
            />
            <label for="payment-2">
              <span></span>
              Trả tiền khi nhận hàng
            </label>
            <p *ngIf="getTotalValues > 1000000" style="font-size: smaller">
              Không hỗ trợ cho đơn hàng lớn hơn {{ 1000000 | number }} đ
            </p>
            <!-- <div class="caption">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div> -->
          </div>
        </div>

        <!-- Order notes -->
        <!-- <div class="order-notes">
          <textarea class="input" placeholder="Order Notes"></textarea>
        </div> -->
        <!-- /Order notes -->
      </div>

      <!-- Order Details -->
      <div class="col-md-5 order-details">
        <div class="section-title text-center">
          <h3 class="title">THÔNG TIN ĐƠN HÀNG</h3>
        </div>
        <div class="order-summary">
          <div class="order-col">
            <div><strong>SẢN PHẨM</strong></div>
            <div><strong>TỔNG</strong></div>
          </div>
          <div class="order-products">
            <div class="order-col" *ngFor="let item of cartData">
              <div>
                <strong style="color: #d10024">{{ item.quantity }}x</strong>
                {{ item.product.name }}
              </div>
              <div>{{ item.product.actualPrice | number }} đ</div>
            </div>
          </div>
          <div class="order-col">
            <div>Phí ship</div>
            <div>
              <strong>{{ shippingFee | number }} đ</strong>
            </div>
          </div>
          <div class="order-col">
            <div><strong>Tổng tiền</strong></div>
            <div>
              <strong class="order-total"
                >{{ getTotalValues + shippingFee | number }} đ</strong
              >
            </div>
          </div>
        </div>

        <div class="input-checkbox">
          <input type="checkbox" id="terms" />
          <label for="terms">
            <span></span>
            Tôi đã đọc và chấp nhận các
            <a href="#">điều khoản &amp; điều kiện</a>
          </label>
        </div>
        <a class="primary-btn order-submit" (click)="checkout()">Đặt hàng</a>
      </div>
      <!-- /Order Details -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
