<div id="breadcrumb">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ejs-breadcrumb [enableNavigation]="true">
          <e-breadcrumb-items>
            <e-breadcrumb-item
              iconCss="e-icons e-home"
              url="./homepage"
            ></e-breadcrumb-item>
            <e-breadcrumb-item
              text="Homepage"
              url="./homepage"
            ></e-breadcrumb-item>
            <e-breadcrumb-item text="Cart" url="./cart"></e-breadcrumb-item>
            <e-breadcrumb-item
              text="Checkout"
              url="./breadcrumb/default"
            ></e-breadcrumb-item>
          </e-breadcrumb-items>
        </ejs-breadcrumb>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>

<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="section-title w-100" fxLayout="row" fxLayoutAlign="center">
        <h2 class="title">My wishlist</h2>
      </div>
      <div class="col-md-12" fxLayout="column" fxLayoutGap="15px">
        <div class="section-nav" fxLayout="row wrap" fxLayoutGap="33px">
          <span
            class="product product-card"
            fxLayout="column"
            style="height: 486px"
            fxFlex="22"
          >
            <div class="product-img">
              <img
                src="../../../assets/image/product01.png"
                alt=""
                width="100%"
              />
              <div class="product-label">
                <span class="sale">-30%</span>
                <span class="new">NEW</span>
              </div>
            </div>
            <div class="product-body">
              <p class="product-category">product.subCategory.subCateName</p>
              <h3 class="product-name">
                <a href="#" tabindex="-1"> product.name </a>
              </h3>
              <h4 class="product-price">
                <!-- {{product.discountPrice}}VND -->
                <del class="product-old-price"> product.actualPrice VND</del>
              </h4>
              <!-- <div class="product-rating">
              </div> -->
              <div class="product-btns">
                <button class="add-to-wishlist" tabindex="-1">
                  <i class="fa fa-heart"></i
                  ><span class="tooltipp">add to wishlist</span>
                </button>
                <button class="add-to-compare" tabindex="-1">
                  <i class="fa fa-exchange"></i
                  ><span class="tooltipp">add to compare</span>
                </button>
                <button class="quick-view" tabindex="-1">
                  <i class="fa fa-eye"></i
                  ><span class="tooltipp">quick view</span>
                </button>
              </div>
            </div>
            <div class="add-to-cart">
              <button class="add-to-cart-btn" tabindex="-1">
                <i class="fa fa-shopping-cart"></i> add to cart
              </button>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
