<div id="breadcrumb">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <!-- <ul class="breadcrumb-tree">
            <li><a href="#">Home</a></li>
            <li><a href="#">All Categories</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Headphones</a></li>
            <li class="active">Product name goes here</li>
          </ul> -->
        <ejs-breadcrumb [enableNavigation]="true">
          <e-breadcrumb-items>
            <e-breadcrumb-item
              iconCss="e-icons e-home"
              url="./homepage"
            ></e-breadcrumb-item>
            <e-breadcrumb-item
              text="Homepage"
              url="./homepage"
            ></e-breadcrumb-item>
            <e-breadcrumb-item
              text="Account"
              url="./breadcrumb/default"
            ></e-breadcrumb-item>
          </e-breadcrumb-items>
        </ejs-breadcrumb>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>

<div class="section" fxLayout="row" fxLayoutAlign="center">
  <!-- container -->
  <div class="profile-container">
    <mat-sidenav-container class="example-container" autosize>
      <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
        <mat-nav-list>
          <div fxLayout="row" fxLayoutGap="10px" style="padding: 20px">
            <span class="e-avatar e-avatar-xlarge blue">{{
              userData ? userData.result.userName.charAt(0) : " "
            }}</span>
            <div fxLayout="column" fxLayoutAlign="center">
              <span>Tai khoan cua</span>
              <span>{{ userData ? userData.result.userName : " " }}</span>
            </div>
          </div>

          <mat-list-item
            class="parent"
            [routerLink]="['/account/profile']"
            [class.active]="selectedIndex === 1"
            (click)="setIndex(1)"
          >
            <span class="full-width">Thông tin tài khoản</span>
            <mat-icon mat-list-icon>perm_identity</mat-icon>
          </mat-list-item>
          <mat-list-item
            class="parent"
            [routerLink]="['/account/order']"
            [class.active]="selectedIndex === 2"
            (click)="setIndex(2)"
          >
            <span class="full-width">Quản lý đơn hàng</span>
            <mat-icon mat-list-icon>list_alt</mat-icon>
          </mat-list-item>
          <!-- <mat-list-item class="parent">
            <span class="full-width">Wishlist</span>
            <mat-icon mat-list-icon>home</mat-icon>
          </mat-list-item> -->
          <mat-list-item
            class="parent"
            [class.active]="selectedIndex === 3"
            (click)="setIndex(3)"
            [routerLink]="['/account/notification']"
          >
            <span class="full-width">Thông báo</span>
            <mat-icon mat-list-icon>notifications</mat-icon>
          </mat-list-item>
          <mat-list-item
          class="parent"
          [class.active]="selectedIndex === 4"
          (click)="setIndex(4)"
          [routerLink]="['/account/address']"
        >
          <span class="full-width">Sổ địa chỉ</span>
          <mat-icon mat-list-icon>note</mat-icon>
        </mat-list-item>
        </mat-nav-list>
        <mat-nav-list></mat-nav-list>
      </mat-sidenav>

      <div class="example-sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-container>
  </div>
</div>
