ul {
  display: flex;
  background-color: white;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgb(54, 54, 54) 5px 5px 20px 0px;
}

ul > li {
  list-style-type: none;
  padding: 0.6rem;
  font-size: 0.95rem;
  color: rgb(153, 153, 153);
  background-color: white;
  cursor: pointer;
  transition-duration: 0.1s;
}

p {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0px;
}

.active {
  list-style-type: none;
  padding: 0.6rem;
  font-size: 0.95rem;
  color: rgb(20, 53, 195) !important;
  background-color: rgb(249, 249, 249) !important;
  cursor: pointer;
  transition-duration: 0.1s;
}



