<div class="section">
  <!-- container -->
  <div class="container" fxLayout="column" fxLayoutGap="50px">
    <div fxLayout="column" fxLayoutGap="30px">
      <div class="title">Phương thức thanh toán</div>
      <div fxLayout="column" fxLayoutGap="10px">
        <div class="subTitle">Thanh toán tiền mặt</div>
        <div class="content">
          Quý khách có thể thanh toán cho nhân viên chuyển phát đối với hình
          thức chuyển phát COD khi mua hàng online qua website vitechShop.vn
          <strong>(Lưu ý: Hình thức này chỉ áp dụng cho giá trị đơn hàng dưới 1.000.000Đ)</strong>
        </div>
        <div class="subTitle">
          Thanh toán thẻ ATM nội địa - Internet Banking
        </div>
        <div class="content">
          Quý khách có thể thanh toán bằng thẻ ATM của tất cả các Ngân hàng nội
          địa Việt Nam trực tiếp khi mua hàng qua cổng Internet Banking khi mua
          trên web vitechShop.vn
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutGap="30px">
      <div class="title">Chính sách vận chuyển</div>
      <div fxLayout="column" fxLayoutGap="10px">
        <div class="subTitle">Giao hàng tận nơi</div>
        <div class="content">
          Giao hàng tận nơi: Vitech cung cấp dịch vụ giao hàng toàn quốc, gửi
          hàng tận nơi đến địa chỉ cung cấp của Quý khách. Thời gian giao hàng
          dự kiến phụ thuộc vào kho có hàng và địa chỉ nhận hàng của Quý khách.
          Bảng thời gian dự kiến như sau:
        </div>
        <div class="subTitle">Bảng giá dịch vụ vận chuyển hàng hóa</div>
        <div class="content">
          <table>
            <tbody>
              <tr>
                <td>
                  <div class="css-175oi2r">
                    <div>
                      <span><strong>Loại vận chuyển</strong></span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="css-175oi2r">
                    <div>
                      <span><strong>Địa chỉ nhận hàng</strong></span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="css-175oi2r">
                    <div>
                      <span><strong>Phí vận chuyển</strong></span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="css-175oi2r">
                    <div>
                      <span><span>Thường</span></span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="css-175oi2r">
                    <div>
                      <span><span>Toàn quốc</span></span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="css-175oi2r">
                    <div>
                      <span><span>20.000Đ</span></span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="css-175oi2r">
                    <div>
                      <span><span>Hoả tốc</span></span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="css-175oi2r">
                    <div>
                      <span><span>Toàn quốc</span></span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="css-175oi2r">
                    <div>
                      <span><span>50.000Đ</span></span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="subTitle">Một số lưu ý khi nhận hàng:</div>
        <div class="content">
          Nếu Quý khách không thể có mặt trong đợt nhận hàng thứ nhất, Vitech sẽ
          liên lạc lại để sắp xếp thời gian giao hàng hoặc hướng dẫn Quý khách
          tới khu vực điều phối hàng của đơn vị vận chuyển để nhận hàng. Nếu
          chúng tôi không thể liên lạc được với Quý khách trong vòng 03 (ba
          ngày), Vitech sẽ thông báo cho Quý khách về việc hủy đơn hàng và hoàn
          trả tiền hàng mà Quý khách đã thanh toán (các chi phí liên quan đến
          việc dàn xếp hàng, chi phí vận chuyển, chi phí thi công, lắp đặt,
          và/hoặc các tổn thất phát sinh từ việc giao hàng không thành công… sẽ
          không được hoàn lại). Tiền hoàn lại sẽ được ngân hàng ghi có vào tài
          khoản của Quý khách trong vòng 5 - 7 ngày làm việc. Số tiền Quý khách
          nhận lại sẽ trừ lại các chi phí liên quan đến việc dàn xếp hàng, chi
          phí vận chuyển, chi phí thi công, lắp đặt, và/hoặc các tổn thất phát
          sinh từ việc giao hàng nhưng Quý khách không nhận…. Vitech sẽ báo ngay
          đến Quý khách nếu có sự chậm chễ về thời gian giao hàng so với thời
          gian dự kiến ở trên. Và trong phạm vi pháp luật cho phép, chúng tôi sẽ
          không chịu trách nhệm cho bất cứ tổn thất nào, các khoản nợ, thiệt hại
          hoặc chi phí phát sinh từ việc giao hàng trễ. Sản phẩm được đóng gói
          theo tiêu chuẩn đóng gói của Vitech. Mọi thông tin về việc thay đổi
          sản phẩm hay hủy bỏ đơn hàng, đề nghị Quý khách thông báo sớm để
          Vitech có thể điều chỉnh lại đơn hàng. Quý khách có thể liên hệ với
          chúng tôi qua số điện thoại hotline: 0905054200 hoặc qua địa chỉ
          email: vitechShop@gmail.com
        </div>
      </div>
    </div>
  </div>
</div>
