<div>
  <app-content-header [title]="title"></app-content-header>
  <div class="form">
    <form [formGroup]="formGroup">
      <div class="form-group">
        <label for="code">Mã sản phẩm</label>
        <input
          type="text"
          formControlName="code"
          class="form-control"
          placeholder="Mã sản phẩm"
        />
      </div>
      <div class="form-group">
        <label for="name">Tên sản phẩm</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          placeholder="Tên sản phẩm"
        />
      </div>
      <div class="form-group">
        <label for="name">Mô tả ngắn</label>

        <textarea
          class="form-control"
          placeholder="Mô tả ngắn"
          formControlName="shortDescription"
          id=""
          cols="30"
          rows="5"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="parameters">Thông số sản phẩm</label>

        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
        </ngx-editor-menu>
        <ngx-editor
          [editor]="editor2"
          formControlName="parameters"
          [placeholder]="'Type here...'"
        ></ngx-editor>
      </div>
      <div class="form-group">
        <label for="content">Nội dung chi tiết</label>
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar2">
        </ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          formControlName="content"
          [placeholder]="'Type here...'"
        ></ngx-editor>
        <!-- <angular-editor
          formControlName="content"
          [config]="editorConfig"
        ></angular-editor> -->
      </div>
      <div class="form-group">
        <label for="price">Giá sản phẩm</label>
        <input
          class="form-control"
          placeholder="Price"
          formControlName="price"
          [value]="formGroup.controls['price'].value"
        />
      </div>
      <div class="form-group">
        <label for="quantity">Số lượng</label>
        <input
          class="form-control"
          type="number"
          min="0"
          formControlName="quantity"
        />
      </div>
      <div class="form-group">
        <label for="category">Phân loại</label>
        <select class="form-select" (change)="onChange($event)">
          <option value="0" selected>Choose category</option>
          <option
            [selected]="category.id == formGroup.controls['categoryId'].value"
            *ngFor="let category of categoryData"
            [value]="category.id"
          >
            {{ category.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="brand">Hãng</label>
        <select class="form-select" (change)="onChangeBrand($event)">
          <option value="0" selected>Choose brand</option>
          <option
            [selected]="brand.id == formGroup.controls['subCategoryId'].value"
            *ngFor="let brand of brandData"
            [value]="brand.id"
          >
            {{ brand.subCateName }}
          </option>
        </select>
      </div>

      <div class="form-group" style="width: 50%">
        <label for="image">Ảnh chính</label>
        <input
          type="file"
          class="form-control-file"
          (change)="readURL($event)"
        />
        <ng-container>
          <img [src]="imageSrc" alt="" width="100%" />
        </ng-container>
      </div>

      <div class="form-group" style="width: 50%">
        <label for="image">Các ảnh khác</label>
        <input
          type="file"
          multiple
          class="form-control-file"
          (change)="readURLs($event)"
        />
        <ng-container>
          <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile *ngFor="let img of listPreviewImg"
              ><img
                [src]="img"
                alt=""
                width="100%"
                style="
                  max-width: 240px;
                  max-height: 120px;
                  width: auto;
                  height: auto;
                  margin: 10px;
                "
            /></mat-grid-tile>
          </mat-grid-list>
        </ng-container>
      </div>
      <button
        (click)="addProduct()"
        *ngIf="!id"
        mat-raised-button
        class="btn btn-primary mb-2 float-right"
      >
        Add
      </button>
      <button
        (click)="updateProduct()"
        *ngIf="id"
        mat-raised-button
        class="btn btn-primary mb-2 float-right"
      >
        Update
      </button>
    </form>
  </div>
</div>
