.customer-form {
  border: 2px solid;
  width: 98%;
  background-color: #fff;
  align-self: center;
  box-shadow: 1px 1px 1px 1px #888888;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 30px;
}
