  <div fxLayout="column" fxLayoutAlign="center none">
    <div class="form">
      <form>
        <div class="form-group">
            <img width="100px" height="100px" src="" alt="">
        </div>
        <div class="form-group">
          <label for="name">Họ tên</label>
          <input type="text" class="form-control" placeholder="Họ tên" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" placeholder="Email" />
        </div>
        <div class="form-group">
          <label for="phone">Số điện thoại</label>
          <input type="tel" class="form-control" placeholder="Phone" />
        </div>
        <div class="form-group">
          <label for="date">Ngày sinh</label>
          <input type="date" class="form-control datepicker" value="" />
        </div>
        <div class="form-group">
          <label for="sex">Giới tính</label>
          <div fxLayout="row" fxLayoutGap="30px">
            <label class="">
              <input name="sex" type="radio" value="M" /> Nam
            </label>
            <label class="">
              <input name="sex" type="radio" value="F" /> Nữ
            </label>
            <label class="">
              <input name="sex" type="radio" value="O" /> Khác
            </label>
          </div>
        </div>
        <div class="form-group float-right">
            <button class="primary-btn order-submit">Cập nhật</button>
        </div>
      </form>
    </div>
  </div>