<div id="breadcrumb">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ejs-breadcrumb [enableNavigation]="true">
          <e-breadcrumb-items>
            <e-breadcrumb-item
              iconCss="e-icons e-home"
              url="./homepage"
            ></e-breadcrumb-item>
            <e-breadcrumb-item
              text="Homepage"
              url="./homepage"
            ></e-breadcrumb-item>
            <e-breadcrumb-item
              text="Account"
              url="./breadcrumb/default"
            ></e-breadcrumb-item>
          </e-breadcrumb-items>
        </ejs-breadcrumb>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<div class="section">
  <div class="container" fxLayout="column" fxLayoutAlign="center none">
    <div fxLayout="column" fxLayoutGap="30px">
      <div class="">
        <p class="">Thông tin tài khoản</p>
      </div>
      <div>
        <mat-tab-group>
          <mat-tab label="Thông tin tài khoản"> <app-user-profile></app-user-profile> </mat-tab>
          <mat-tab label="Sổ địa chỉ"> </mat-tab>
          <mat-tab label="Đơn hàng"> <app-user-order></app-user-order>  </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

</div>
