<div>
    <app-content-header [title]="title | uppercase"></app-content-header>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <a class="btn btn-success float-right m-2"
              >Add
            </a>
          </div>
          <div class="col-md-12">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let role of roleData; index as i">
                  <th scope="row">{{ i+1 }}</th>
                  <td>{{ role.name }}</td>
                  <td>{{ role.description }}</td>
                  <td fxLayout="row" fxLayoutGap="15px">
                    <a class="btn btn-default" 
                      >Edit</a
                    >
                    <a class="btn btn-danger action-delete">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <mat-paginator
        #paginator
        [length]="100"
        [pageSize]="5"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
  