<div>
  <app-content-header [title]="title"></app-content-header>
  <div class="form">
    <form [formGroup]="formGroup">
      <div class="form-group">
        <label for="nameSlider">Name brand</label>
        <input
          type="text"
          formControlName="brandName"
          class="form-control"
          placeholder="Name brand"
        />
      </div>
      <div class="form-group">
        <label for="content">Description</label>
        <textarea
          class="form-control"
          rows="3"
          placeholder="Description ..."
          formControlName="description"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="brand">Category</label>
        <select class="form-select" formControlName="category">
          <option value="0">Choose category</option>
          <option
          [selected]="cate.id == formGroup.controls['category'].value"
            *ngFor="let cate of cateData"
            [value]="cate.id"
          >
            {{ cate.name }}
          </option>
        </select>
      </div>
    </form>

    <button
      *ngIf="!id"
      mat-raised-button
      class="btn btn-primary mb-2 float-right"
      (click)="addBrand()"
    >
      Add
    </button>
    <button
      *ngIf="id"
      mat-raised-button
      class="btn btn-primary mb-2 float-right"
      (click)="updateBrand()"
    >
      Update
    </button>
  </div>
</div>
