<div fxLayout="column">
  <app-content-header [title]="'Sửa đơn hàng'"></app-content-header>
  <div fxLayout="column" class="order-form">
    <div style="padding: 20px 3rem">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <p>Chi tiết đơn hàng #{{ orderCode }}</p>
        <div
          fxLayout="row"
          [fxLayoutAlign]="
            this.orderDetail?.status != 'WAITING_DELIVERY'
              ? 'space-evenly center'
              : 'end center'
          "
          fxFlex="20"
        >
          <button
            class="btn btn-success mb-2 float-right"
            (click)="changeOrderStatus()"
            *ngIf="this.orderDetail?.status != 'WAITING_DELIVERY'"
          >
            Xác nhận
          </button>
          <button class="btn btn-primary mb-2 float-right">Cập nhật</button>
        </div>
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="space-evenly"
      class="w-100"
      style="padding-bottom: 20px"
    >
      <div fxLayout="column" style="width: 350px">
        <div class="title">Chung</div>
        <form [formGroup]="formGroup">
          <div class="form-group">
            <label for="code">Mã sản phẩm</label>
            <input
              type="text"
              class="form-control"
              placeholder="Code"
              formControlName="orderCode"
              [attr.disabled]="true"
            />
          </div>
          <div class="form-group">
            <label for="code">Ngày tạo</label>
            <input
              type="datetime-local"
              class="form-control"
              formControlName="orderDate"
              [attr.disabled]="true"
            />
          </div>
          <div class="form-group">
            <label for="code">Ngày giao</label>
            <input
              type="date"
              class="form-control"
              formControlName="deliveryDate"
            />
          </div>
          <div class="form-group">
            <label for="status">Trạng thái</label>
            <select class="form-select" (change)="onChangeStatus($event)">
              <option
                [selected]="st.value == formGroup.controls['status'].value"
                [value]="st.value"
                *ngFor="let st of status"
              >
                {{ st.viewValue }}
              </option>
            </select>
          </div>

          <div class="form-group" fxLayout="column">
            <label for="customer">Khách hàng</label>
            <input
              type="text"
              class="form-control"
              placeholder="Khách hàng"
              formControlName="fullName"
              [attr.disabled]="true"
            />
            <div class="form-group" style="margin-top: 10px">
              <a
                (click)="openDialog('customer')"
                class="float-right"
                style="text-decoration: underline !important"
                >Thông tin khách hàng</a
              >
            </div>
          </div>
        </form>
      </div>
      <div fxLayout="column" style="width: 350px">
        <div class="title">Thanh toán</div>
        <form [formGroup]="formGroup2">
          <div class="form-group">
            <label for="code">Kiểu thanh toán</label>

            <select
              class="form-select"
              (change)="onChange($event)"
              [disabled]="true"
            >
              <option
                [selected]="
                  pm.value == formGroup2.controls['paymentMethod'].value
                "
                [value]="pm.value"
                *ngFor="let pm of paymentMethod"
              >
                {{ pm.viewValue }}
              </option>
            </select>
          </div>
          <div
            *ngIf="
              formGroup2.controls['paymentMethod'].value == 'ONLINE_PAYING'
            "
          >
            <label for="code">Số thẻ</label>
            <input
              type="text"
              class="form-control"
              placeholder="Code"
              formControlName="cardNumber"
              [attr.disabled]="true"
            />
          </div>
          <div class="form-group float-right" style="margin-top: 10px">
            <a
              style="text-decoration: underline !important"
              (click)="openDialog('orderDetails')"
              >Danh sách sản phẩm</a
            >
          </div>
        </form>
      </div>
      <div fxLayout="column" style="width: 350px">
        <div class="title">Giao nhận</div>
        <form [formGroup]="formGroup3">
          <div class="form-group">
            <label for="fullName">Họ tên</label>
            <input
              type="text"
              class="form-control"
              placeholder="Họ tên"
              formControlName="fullName"
            />
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <div class="form-group">
              <label for="city">Thành phố/Tỉnh</label>
              <input
                type="text"
                class="form-control"
                placeholder="Thành phố/Tỉnh"
                formControlName="city"
              />
            </div>
            <div class="form-group">
              <label for="name">Quận/Huyện</label>
              <input
                type="text"
                class="form-control"
                placeholder="Quận/Huyện"
                formControlName="district"
              />
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <div class="form-group">
              <label for="name">Phường/Xã</label>
              <input
                type="text"
                class="form-control"
                placeholder="Phường/Xã"
                formControlName="subDistrict"
              />
            </div>
            <div class="form-group">
              <label for="name">Địa chỉ cụ thể</label>
              <input
                type="text"
                class="form-control"
                placeholder="Name"
                formControlName="specificAddress"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="code">Loại vận chuyển</label>
            <select
              class="form-select"
              (change)="onChange($event)"
              [disabled]="true"
            >
              <option
                [selected]="
                  shp.viewValue == formGroup3.controls['shippingMethod'].value
                "
                [value]="shp.value"
                *ngFor="let shp of shipping"
              >
                {{ shp.viewValue }}
              </option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
