<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">New Products</h3>
          <div class="section-nav" fxLayout="row" fxLayoutAlign="center center">
            <ul
              class="section-tab-nav tab-nav"
              fxLayout="row"
              fxLayoutGap="10px"
            >
              <ng-container
                *ngFor="let category of listCategory; let i = index"
              >
                <li
                  (click)="getProductsByCategory(category.name)"
                  [ngClass]="{ active: i === 0 }"
                >
                  <a>{{ category.name }}</a>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
      <!-- /section title -->

      <!-- Products tab & slick -->
      <div class="col-md-12">
        <div class="row">
          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
          >
            <div
              ngxSlickItem
              *ngFor="let product of productsByCategory"
              fxLayout="column"
              fxLayoutAlign="none center"
              class="slide"
            >
              <div class="product slick-slide" style="width: 255px">
                <div class="product-img">
                  <img [src]="product.imgUrl" alt="" width="100%" />
                  <div class="product-label">
                    <span class="sale">-30%</span>
                    <span class="new">NEW</span>
                  </div>
                </div>
                <div class="product-body">
                  <p class="product-category">
                    {{ product.subCategory.subCateName }}
                  </p>
                  <h3 class="product-name">
                    <a (click)="renderTo('product', product.id)">{{
                      product.name | truncateText : 40
                    }}</a>
                  </h3>
                  <del class="product-old-price"></del>
                  <h4 class="product-price">
                    <!-- {{product.discountPrice}} <span>đ</span> -->
                    {{ product.actualPrice | number}} <span>đ</span>
                  </h4>
                  <!-- <div class="product-rating">
                  </div> -->
                  <div class="product-btns">
                    <button class="add-to-wishlist">
                      <i class="fa fa-heart"></i
                      ><span class="tooltipp">add to wishlist</span>
                    </button>
                    <button class="add-to-compare">
                      <i class="fa fa-exchange"></i
                      ><span class="tooltipp">add to compare</span>
                    </button>
                    <button class="quick-view">
                      <i class="fa fa-eye"></i
                      ><span class="tooltipp">quick view</span>
                    </button>
                  </div>
                </div>
                <div class="add-to-cart">
                  <button
                    class="add-to-cart-btn"
                    (click)="addItemToCart(product)"
                  >
                    <i class="fa fa-shopping-cart"></i> add to cart
                  </button>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
  <div id="hot-deal" class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <div class="hot-deal">
            <ul class="hot-deal-countdown">
              <li>
                <div>
                  <h3>02</h3>
                  <span>Days</span>
                </div>
              </li>
              <li>
                <div>
                  <h3>10</h3>
                  <span>Hours</span>
                </div>
              </li>
              <li>
                <div>
                  <h3>34</h3>
                  <span>Mins</span>
                </div>
              </li>
              <li>
                <div>
                  <h3>60</h3>
                  <span>Secs</span>
                </div>
              </li>
            </ul>
            <h2 class="text-uppercase">hot deal this week</h2>
            <p>New Collection Up to 50% OFF</p>
            <a class="primary-btn cta-btn" href="#">Shop now</a>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12" fxLayout="column" fxLayoutGap="15px">
        <div *ngFor="let cate of listCategory" fxLayout="column">
          <h3 class="title">{{ cate.name | uppercase }}</h3>
          <div class="section-nav" fxLayout="row wrap" fxLayoutGap="33px">
            <ng-container *ngFor="let product of productData">
              <span
                class="product product-card"
                *ngIf="product.subCategory.category.name == cate.name"
                fxLayout="column"
                style="height: 486px"
                fxFlex="22"
              >
                <div class="product-img">
                  <img [src]="product.imgUrl" alt="" width="100%" />
                  <div class="product-label">
                    <span class="sale">-30%</span>
                    <span class="new">NEW</span>
                  </div>
                </div>
                <div class="product-body">
                  <p class="product-category">
                    {{ product.subCategory.subCateName }}
                  </p>
                  <h3 class="product-name">
                    <a (click)="renderTo('product', product.id)">{{
                      product.name | truncateText : 40
                    }}</a>
                  </h3>
                  <h4 class="product-price">
                    {{ product.actualPrice | number}}<span>đ</span>
                    <!-- <del class="product-old-price">{{
                      product.actualPrice
                    }}<span>đ</span></del> -->
                  </h4>
                  <!-- <div class="product-rating">
              </div> -->
                  <div class="product-btns">
                    <button class="add-to-wishlist">
                      <i class="fa fa-heart"></i
                      ><span class="tooltipp">add to wishlist</span>
                    </button>
                    <button class="add-to-compare">
                      <i class="fa fa-exchange"></i
                      ><span class="tooltipp">add to compare</span>
                    </button>
                    <button class="quick-view">
                      <i class="fa fa-eye"></i
                      ><span class="tooltipp">quick view</span>
                    </button>
                  </div>
                </div>
                <div class="add-to-cart">
                  <button
                    class="add-to-cart-btn"
                    (click)="addItemToCart(product)"
                  >
                    <i class="fa fa-shopping-cart"></i> add to cart
                  </button>
                </div>
              </span>
            </ng-container>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button (click)="viewAll(cate.name)">
              View all
              <i class="fa-solid fa-angles-right" style="font-size: 12px"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
