<div style="height: 100%">
  <div fxLayout="column" fxLayoutAlign="start none" style="padding: 8px">
    <div>
      <div>
        <button mat-raised-button>
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <h5>ĐƠN HÀNG: 22112733930590</h5>
      </div>
    </div>
    <div class="w-100" fxLayout="row" fxLayoutGap="10px">
      <div fxLayout="column" fxFlex="50" class="side">
        <div>
          <div>Thông tin người nhận</div>
          <div>
            <div>
              <strong>Người nhận: </strong><span>Trương Quốc Việt</span>
            </div>
            <div>
              <strong>Hình thức nhận hàng: </strong><span>Giao tiêu chuẩn</span>
            </div>
            <div>
              <strong>Địa chỉ: </strong
              ><span
                >Nhà số 4 ngõ 341 Phố Vọng, Phường Đồng Tâm, Quận Hai Bà Trưng,
                Thành phố Hà Nội</span
              >
            </div>
            <div><strong>Điện thoại: </strong><span>0905054200</span></div>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="50" class="side">
        <div>
          <div>Thông tin đơn hàng</div>
          <div><strong>Trạng thái đơn hàng: </strong><span>Đã hủy</span></div>
          <div>
            <strong>Thời gian tạo: </strong><span>12:41:29 27/11/2022</span>
          </div>
        </div>
      </div>
    </div>

    <div></div>
    <div></div>
  </div>
</div>
