#top-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1E1F29;
}

a:hover,
a:focus {
    color: #D10024 !important;
    text-decoration: none;
    outline: none;
}

a {
    color: #2B2D42;
    font-weight: 500;
    transition: 0.2s color;
    text-decoration: none;
}

.header-links li {
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
}

.header-links li i {
    color: #D10024;
    margin-right: 5px;
}

#header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #15161D;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.header-search form .input-select {
    margin-right: -4px;
    border-radius: 40px 0px 0px 40px;
}

.input-select {
    padding: 0px 15px;
    background: #FFF;
    border: 1px solid #E4E7ED;
    height: 40px;
}

.header-search form .input {
    width: calc(100% - 260px);
    margin-right: -4px;
}

.input {
    height: 40px;
    padding: 0px 15px;
    border: 1px solid #E4E7ED;
    background-color: #FFF;
    width: 100%;
}

.header-search form .search-btn {
    height: 41px;
    width: 100px;
    background: #D10024;
    color: #FFF;
    font-weight: 700;
    border: none;
    border-radius: 0px 40px 40px 0px;
}

select:focus-visible {
    outline-offset: 0px;
}