<header>
  <div id="top-header">
    <div class="container" fxLayout="row" fxLayoutAlign="space-between">
      <ul fxLayout="row" class="header-links">
        <li>
          <a href="#" class="text-white"
            ><i class="fa fa-phone"></i> +021-95-51-84</a
          >
        </li>
        <li>
          <a href="#" class="text-white"
            ><i class="fa fa-envelope"></i> email@email.com</a
          >
        </li>
        <li>
          <a href="#" class="text-white"
            ><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a
          >
        </li>
      </ul>
      <ul class="header-links" fxLayout="row">
        <li>
          <a href="#" class="text-white"
            ><i class="fa fa-dollar-sign"></i> USD</a
          >
        </li>
        <li>
          <a (click)="openUserAccountDialog()" class="text-white"
            ><i class="fa fa-user"></i> My Account</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div id="header" fxLayout="row">
    <div class="container">
      <div class="row">
        <div class="col-md-3" fxLayout="row" fxLayoutAlign="center center">
          <div class="header-logo">
            <a href="#" class="logo">
              <img src="../../../assets/img/AdminLTELogo.png" alt="" />
            </a>
          </div>
        </div>

        <div class="col-md-6" fxLayout="row" fxLayoutAlign="center center">
          <div class="header-search w-100">
            <form>
              <select class="input-select">
                <option value="0" selected>All Categories</option>
                <option value="{{ cate.id }}" *ngFor="let cate of categoryData">
                  {{ cate.name }}
                </option>
              </select>
              <input class="input" placeholder="Search here" />
              <button class="search-btn">Search</button>
            </form>
          </div>
        </div>

        <!-- ACCOUNT -->
        <div
          class="col-md-3 clearfix"
          fxFlex="row"
          fxLayoutAlign="center center"
        >
          <div class="header-ctn" fxFlex="row" fxLayoutAlign="center center">
            <div>
              <a fxLayout="column" fxLayoutAlign="center center">
                <i class="fa fa-heart"></i>
                <span>Your Wishlist</span>
                <div class="qty">2</div>
              </a>
            </div>

            <div class="dropdown">
              <a
                (click)="showCart()"
                fxLayout="column"
                fxLayoutAlign="center center"
              >
                <i class="fa fa-shopping-cart"></i>
                <span>Your Cart</span>
                <div class="qty">{{ cartLength }}</div>
              </a>
              <div [hidden]="!isShowCart" class="cart-dropdown">
                <div class="cart-list">
                  <div class="product-widget" *ngFor="let item of cartData">
                    <div class="product-img">
                      <img [src]="item.product.imgUrl" class="w-100" alt="" />
                    </div>
                    <div class="product-body">
                      <h3 class="product-name">
                        <a href="#">{{
                          item.product.name | truncateText: 45
                        }}</a>
                      </h3>
                      <h4 class="product-price">
                        <span class="qty">{{ item.quantity }}x</span
                        >{{ item.product.actualPrice }}
                      </h4>
                    </div>
                    <button class="delete">
                      <i class="fa fa-window-close"></i>
                    </button>
                  </div>
                </div>
                <div class="cart-summary">
                  <small>{{ cartLength }} Item(s) selected</small>
                  <h5>SUBTOTAL: ${{ totalValues }}</h5>
                </div>
                <div class="cart-btns">
                  <a href="/cart">View Cart</a>
                  <a href="/checkout"
                    >Checkout <i class="fa fa-arrow-circle-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<nav id="navigation">
  <div class="container">
    <div id="responsive-nav">
      <ul class="main-nav nav navbar-nav" fxLayout="row" fxLayoutGap="30px">
        <li
          [ngClass]="currentRoute == '/homepage' ? 'active' : ' '"
          (click)="renderTo('homepage')"
        >
          <a>Home</a>
        </li>
        <li><a>Hot Deals</a></li>
        <li [ngClass]="currentRoute == '/categories' ? 'active' : ' '">
          <a (click)="renderTo('categories')">Categories</a>
        </li>
        <li [ngClass]="currentRoute == '/brands' ? 'active' : ' '">
          <a (click)="renderTo('brands')">Brands</a>
        </li>
        <li [ngClass]="currentRoute == '/store' ? 'active' : ' '">
          <a (click)="renderTo('store')">Store</a>
        </li>
        <li><a>Policies</a></li>
      </ul>
    </div>
  </div>
</nav>
