/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '../src/assets/css/fontawesome-free/css/all.min.css';
@import '../src/assets/css/adminlte.min.css';
@import '../src/assets/css/style.css';
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333; 
}
 
.form {
  padding: 15px;
}

ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  list-style: none;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.container {
  max-width: 80% !important;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} 

a {
  text-decoration: none !important;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-select {
  width: 100%;
  padding: 10px 0;
}

table {
  width: 100%;
  border: 1px solid;
}

tbody {
  background-color: whitesmoke !important;
}

td.mat-cell {
  color: #212529;
  border-bottom-color: #212529 !important;
}

th {
  padding-right: 12px !important;
}

.mat-header-row {
  background-color: #212529;
  color: white;
}

// .row {
//     margin-right: -15px;
//     margin-left: -15px;
// }

//Range slider
// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-bar {
    background: #ffe4d1;
    height: 5px;
  }

  .custom-slider .ngx-slider .ngx-slider-selection {
    background: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 10px;
    height: 15px;
    top: auto;
    /* to remove the default positioning */
    bottom: 0;
    background-color: #D10024;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    font-weight: bold;
    color: red;
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 15px;
    margin-left: 4px;
    border-radius: 0;
    background: black;
    top: -1px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: #D10024;
  }
}

/*Card image with overlay*/
.item {
  // padding: 30px;
  border-radius: 20px;
  width: 180px;
  height: 130px;
  position: relative;
  border: 2px solid #333;
  float: left;
  margin: 2%; 
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
 
  img {
      max-width: 100%;
      opacity: 0.7;
  }
}

.item-overlay.right {
  right: 200%;
  left: -100%;
}

.item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;


  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: hidden;
  text-align: center;
  width: 100%;

  -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

.item:hover .item-overlay.right {
  right: 0;
  left: 0;
  cursor: pointer;
}

.item-name {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
}

.card-container {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 240px);
  justify-items: center;
}

.mat-tab-label{
  color: #212529 !important;
}