.table>thead{
  background-color: #424242;
  color: #fff;
}

a{
  color: rgb(54, 54, 252) !important;
  text-decoration: underline !important;
  cursor: pointer;
}

a:hover{
  color: blue !important;
}

.cancel{
  color: red
}

.all{
  color: green;
}