<app-homepage-header></app-homepage-header>

<nav id="navigation">
  <div class="container">
    <div id="responsive-nav">
      <ul class="main-nav nav navbar-nav" fxLayout="row" fxLayoutGap="30px">
        <li class="active"><a>Home</a></li>
        <li><a href="">Hot Deals</a></li>
        <li><a href="">Categories</a></li>
        <li><a href="">Laptops</a></li>
        <li><a href="">Smartphones</a></li>
        <li><a href="">Cameras</a></li>
        <li><a href="">Accessories</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="section">
  <div class="container" fxLayout="row" fxLayoutAlign="end">
    <div class="row sign-in-form" fxLayout="row" fxLayoutAlign="center">
      <div>
        <p style="font-size: 25px;">LOGIN FORM</p>
      </div>
      <form [formGroup]="formGroup" fxLayout="column" fxLayoutGap="20px">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            name="username"
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="User name"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
          />
        </div>
      </form>
      <div fxLayout="row" fxLayoutAlign="end" style="margin-top: 30px;">
        <button mat-raised-button class="btn btn-primary" (click)="login()">Log in</button>
      </div>
    </div>
  </div>
</div>

<app-news-letter></app-news-letter>
<app-homepage-footer></app-homepage-footer>
