.product-name,
#prd-price {
  color: #fff !important;
}

.cart-list {
  overflow: auto;
  height: 300px;
  border-bottom: 1px solid;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 30px !important;
}

.shipping-price{
    font-size: 14px;
}

