<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a [routerLink]="['/admin']" class="brand-link">
    <img
      src="../../../assets/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Admin Vitech</span>
  </a>

  <div class="sidebar">
    <div
      class="user-panel mt-3 pb-3 mb-3"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
    >
      <div class="image">
        <img
          src="../../../assets/img/user-account-avatar.png"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info row">
        <a href="#" class="d-block">{{ userData?.fullName }}</a>
        <div class="w-100" fxLayout="row" fxLayoutAlign="center"><a (click)="logOut()" mat-raised-button class="btn-default">Logout</a></div>
      </div>
    </div>

    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- <li class="nav-item">
          <a [routerLink]="['/admin', 'banners']" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>Banner</p>
          </a>
        </li>

        <li class="nav-item">
          <a [routerLink]="['/admin', 'sliders']" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>Slider</p>
          </a>
        </li> -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Sản phẩm
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li
              class="nav-item"
              [class.nav-active]="selectedIndex === 1"
              (click)="setIndex(1)"
            >
              <a [routerLink]="['/admin', 'categories']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quản lý loại sản phẩm</p>
              </a>
            </li>
            <li
              class="nav-item"
              [class.nav-active]="selectedIndex === 2"
              (click)="setIndex(2)"
            >
              <a [routerLink]="['/admin', 'products']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quản lý sản phẩm</p>
              </a>
            </li>
            <!-- <li
              class="nav-item"
              [class.nav-active]="selectedIndex === 3"
              (click)="setIndex(3)"
            >
              <a [routerLink]="['/admin', 'brands']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quản lý nhà sản xuất</p>
              </a>
            </li> -->
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Người dùng
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li
              class="nav-item"
              [class.nav-active]="selectedIndex === 4"
              (click)="setIndex(4)"
            >
              <a [routerLink]="['/admin', 'customers']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Danh sách khách hàng</p>
              </a>
            </li>
            <li
              class="nav-item"
              [class.nav-active]="selectedIndex === 5"
              (click)="setIndex(5)"
            >
              <a [routerLink]="['/admin', 'users']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Danh sách người dùng</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a [routerLink]="['/admin', 'users']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Danh sách nhân viên</p>
              </a>
            </li> -->
            <li
              class="nav-item"
              [class.nav-active]="selectedIndex === 6"
              (click)="setIndex(6)"
            >
              <a [routerLink]="['/admin', 'roles']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Danh sách vai trò</p>
              </a>
            </li>
            <!-- <li
              class="nav-item"
              [class.nav-active]="selectedIndex === 7"
              (click)="setIndex(7)"
            >
              <a [routerLink]="['/admin', 'roles']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tạo dữ liệu bảng Permission</p>
              </a>
            </li> -->
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Bán hàng
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li
              class="nav-item"
              [class.nav-active]="selectedIndex === 8"
              (click)="setIndex(8)"
            >
              <a [routerLink]="['/admin', 'orders']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quản lý đơn hàng</p>
              </a>
            </li>
            <li
              class="nav-item"
              [class.nav-active]="selectedIndex === 9"
              (click)="setIndex(9)"
            >
              <a [routerLink]="['/admin', 'invoice']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quản lý hoá đơn</p>
              </a>
            </li>
            <li
              class="nav-item"
              [class.nav-active]="selectedIndex === 10"
              (click)="setIndex(10)"
            >
              <a [routerLink]="['/admin', 'statistic']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Thống kê</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
