.product-widget button{
    background-color: #D10024;
    color: white;
}

.product {
    margin-bottom: 45px !important;
}

.ngx-slider {
    width: 95% !important;
}

.product .add-to-cart{
    bottom: 35px;
}