<div id="breadcrumb">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <!-- <ul class="breadcrumb-tree">
          <li><a href="#">Home</a></li>
          <li><a href="#">All Categories</a></li>
          <li><a href="#">Accessories</a></li>
          <li class="active">Headphones (227,490 Results)</li>
        </ul> -->
        <ejs-breadcrumb [enableNavigation]="true">
          <e-breadcrumb-items>
            <e-breadcrumb-item
              iconCss="e-icons e-home"
              url="./homepage"
            ></e-breadcrumb-item>
            <e-breadcrumb-item
              text="Homepage"
              url="./homepage"
            ></e-breadcrumb-item>
            <e-breadcrumb-item
              text="Store"
              url="./breadcrumb/default"
            ></e-breadcrumb-item>
          </e-breadcrumb-items>
        </ejs-breadcrumb>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<div class="section">
  <!-- container -->
  <div class="container">
    <div class="row">
      <div id="aside" class="col-md-3">
        <div class="aside">
          <h3 class="aside-title">Phân loại</h3>
          <div class="checkbox-filter">
            <div class="input-checkbox" *ngFor="let cate of listCategories">
              <input
                type="checkbox"
                id="category-{{ cate.id }}"
                [checked]="this.categorySearch[0] == cate.name"
                (change)="getCategorySearchList($event, cate)"
              />
              <label for="category-{{ cate.id }}">
                <span></span>
                {{ cate.name }}
                <!-- <small>(120)</small> -->
              </label>
            </div>
          </div>
        </div>

        <div class="aside">
          <h3 class="aside-title">Tầm giá</h3>
          <div class="price-filter">
            <div class="custom-slider">
              <ngx-slider
                [(value)]="minValue"
                [(highValue)]="maxValue"
                [options]="options"
              ></ngx-slider>
            </div>

            <!-- <div class="input-number price-min">
              <input id="price-min" type="number" />
              <span class="qty-up">+</span>
              <span class="qty-down">-</span>
            </div>
            <span>-</span>
            <div class="input-number price-max">
              <input id="price-max" type="number" />
              <span class="qty-up">+</span>
              <span class="qty-down">-</span>
            </div> -->
          </div>
        </div>

        <div class="aside">
          <h3 class="aside-title">Hãng</h3>
          <div class="checkbox-filter">
            <div
              class="input-checkbox"
              *ngFor="let subCate of listSubCategories"
            >
              <input
                type="checkbox"
                id="brand-{{ subCate.subCateName }}"
                (change)="getSubCategorySearchList($event, subCate)"
              />
              <label for="brand-{{ subCate.subCateName }}">
                <span></span>
                {{ subCate.subCateName }}
              </label>
            </div>
          </div>
        </div>

        <div class="aside">
          <!-- <h3 class="aside-title">Top selling</h3>
          <div class="product-widget">
            <div class="product-img">
              <img src="../../../assets/image/product01.png" alt="" />
            </div>
            <div class="product-body">
              <p class="product-category">Category</p>
              <h3 class="product-name">
                <a href="#">product name goes here</a>
              </h3>
              <h4 class="product-price">
                $980.00 <del class="product-old-price">$990.00</del>
              </h4>
            </div>
          </div> -->

          <div class="product-widget">
            <button
              (click)="filterProduct()"
              mat-raised-button
              style="width: 90%"
            >
              Lọc
            </button>
          </div>
        </div>
      </div>

      <!-- STORE -->
      <div id="store" class="col-md-9">
        <!-- store top filter -->
        <div class="store-filter clearfix">
          <div class="store-sort">
            <label>
              Sắp xếp theo:
              <select class="input-select" (change)="filterProduct($event)">
                <option value="actualPrice">Giá tiền</option>
                <option value="name">Tên</option>
              </select>
            </label>

            <label>
              Số lượng:
              <select class="input-select" (change)="setitemsPerPage($event)">
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
            </label>
          </div>
          <ul class="store-grid">
            <li class="active"><i class="fa fa-th"></i></li>
            <li>
              <a href="#"><i class="fa fa-th-list"></i></a>
            </li>
          </ul>
        </div>
        <!-- /store top filter -->

        <!-- store products -->
        <div class="row">
          <!-- product -->
          <div class="w-100" fxLayout="row wrap" fxLayoutGap="28px">
            <ng-container
              *ngFor="
                let product of listProducts
                  | paginate
                    : { itemsPerPage: itemsPerPage, currentPage: currentPage }
              "
            >
              <span
                class="product product-card"
                fxLayout="column"
                style="height: 470px"
                fxFlex="30"
              >
                <div class="product-img">
                  <img [src]="product.imgUrl" alt="" width="100%" />
                  <div class="product-label">
                    <!-- <span class="sale">-30%</span> -->
                    <span class="new">NEW</span>
                  </div>
                </div>
                <div class="product-body">
                  <p class="product-category">Phân loại</p>
                  <h3 class="product-name">
                    <a href="#" tabindex="-1">{{
                      product.name | truncateText : 40
                    }}</a>
                  </h3>
                  <h4 class="product-price">
                    {{ product.actualPrice }} <span>đ</span>
                    <!-- <del class="product-old-price">
                      {{ product.actualPrice }}</del
                    > -->
                  </h4>
                  <!-- <div class="product-rating">
              </div> -->
                  <div class="product-btns">
                    <button class="add-to-wishlist" tabindex="-1">
                      <i class="fa fa-heart"></i
                      ><span class="tooltipp">add to wishlist</span>
                    </button>
                    <button class="add-to-compare" tabindex="-1">
                      <i class="fa fa-exchange"></i
                      ><span class="tooltipp">add to compare</span>
                    </button>
                    <button class="quick-view" tabindex="-1">
                      <i class="fa fa-eye"></i
                      ><span class="tooltipp">quick view</span>
                    </button>
                  </div>
                </div>
                <div class="add-to-cart">
                  <button
                    class="add-to-cart-btn"
                    tabindex="-1"
                    (click)="addItemToCart(product, 1)"
                  >
                    <i class="fa fa-shopping-cart"></i> add to cart
                  </button>
                </div>
              </span>
            </ng-container>
          </div>

          <div class="clearfix visible-sm visible-xs"></div>
        </div>

        <div class="store-filter clearfix">
          <span class="store-qty"
            >Hiển thị {{ itemsPerPage }}-{{ totalElements }} sản phẩm</span
          >
          <pagination-controls
            fxLayout="row"
            fxLayoutAlign="center center"
            (pageChange)="currentPage = $event"
            class="float-right store-pagination"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
